/* tarrifs */

.tarrifs-container {
    margin: 0 auto;
    width: 1156px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "header header header"
        "about about about"
        "card-1 card-2 card-3";
}

.tarrifs__header {
    grid-area: header;
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 24px;
    text-align: center;
}

.tarrifs__about {
    grid-area: about;
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 40px;
    text-align: center;
}

.tarrifs__card {
    grid-area: card-1;
    box-shadow: 0px 0px 32px 0px var(--color-card-shadow-16);
    background: var(--bg-block-white);
}

.tarrifs__card-discount {
    grid-area: card-2;
    box-shadow: 0px 0px 32px 0px var(--color-card-shadow-16);
    background: --bg-block-white;
}

.tarrifs__card-special {
    grid-area: card-3;
    box-shadow: 0px 0px 32px 0px var(--color-card-shadow-32);
    background: var(--bg-block-blue);
    padding: 48px 40px;
}

@media (max-width: 1200px) {
    .tarrifs-container {
        width: 328px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "about"
            "card-1"
            "card-2"
            "card-3";
        row-gap: 24px;
    }

    .tarrifs__header {
        font-size: 36px;
        margin-bottom: 0;
    }

    .tarrifs__about {
        margin-bottom: 8px;
    }
}

/* Card */

.card {
    border-radius: 8px;
    padding: 48px 40px;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.card-content__benefit {
    width: 127px;
    padding: 4px 16px;
    border-radius: 8px;
    background: var(--bg-color-benefit);
    font-size: 15px;
    font-weight: 800;
    line-height: 140%;
}

.card-content__duration {
    font-size: 32px;
    font-weight: 800;
    line-height: 120%;
}

.card-content__description {
    min-height: 72px;
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 16px;
}

.card-content__price-block {
    display: grid;
    grid-template-columns: 184px 105px;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 18px;
}

.golden-block {
    padding: 8px 16px;
    border-radius: 8px;
    background: rgb(255, 199, 54);
    margin-top: 8px;
    margin-bottom: 8px;
}

.unpainted-block {
    padding: 8px 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

.relative {
    position: relative;
    left: -16px;
}

@media (max-width: 1200px) {
    .card {
        padding: 48px 24px;
    }

    .card-content__price-block {
        grid-template-columns: 175px 105px;
        margin-bottom: 16px;
    }

    .card-content__description {
        min-height: 0;
    }
}

/* Button */

.button {
    border: none;
    padding: 12px;
    border-radius: 47px;
    font-size: 17px;
    font-weight: 800;
    line-height: 140%;
    text-align: center;
    cursor: pointer;
}

.button__bg-white-text-blue {
    background: var(--bg-block-white);
    color: var(--color-text-blue);
}

.button__bg-blue-text-white {
    background: var(--bg-block-blue);
    color: var(--color-text-white);
}

/* Sepatate line in price block */

.separate-line {
    grid-column: span 2;
    height: 1px;
}

.line_light {
    background: var(--color-separate-line-light);
}

.line_dark {
    background: var(--color-separate-line-dark);
}

/* margin modifiers*/

.margin_top_16 {
    margin-top: 16px;
}

.margin_bottom_16 {
    margin-bottom: 16px;
}

/* color text modifiers */

.text_white {
    color: var(--color-text-white);
}

.text_white_opacity {
    color: var(--color-text-white-opacity);
}

.text_dark {
    color: var(--color-text-dark);
}

.text_dark_opacity {
    color: var(--color-text-dark-opacity);
}

.text_black {
    color: var(--color-text-black);
}

/* visibility modifiers */

.block-hidden {
    visibility: hidden;
}

@media (max-width: 1200px) {
    .block-hidden {
        display: none;
    }
}