footer {
  background-color: var(--bg-footer);
  padding-top: 80px;
  padding-bottom: 32px;
  color: var(--color-footer-text-white-opacity-5);
}

li {
  list-style: none;
}

.finio-feacher {
  color: var(--color-footer-text-white-opacity-7);
}

.footer-columns {
  display: flex;
  gap: 124px;
  margin-bottom: 40px;
}

.column1 {
  min-width: 283px;
}

.column3 {
  margin-right: 28px;
}

.column4 {
  color: var(--color-footer-text-white-opacity-7);
}

.email {
  color: var(--color-footer-text-white-opacity-5);
}

.flex-columns {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  padding-top: 32px;
}

.footer-info__left {
  color: var(--color-footer-text-white-opacity-7);
}

.footer-info__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
