footer {
    background-color: rgb(26, 29, 37);
    padding-top: 80px;
    padding-bottom: 32px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
}

li {
    list-style: none;
}

.finio {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 36px;
    font-weight: 900;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-wrapper {
    max-width: var(--width-layout);
    margin: 0 auto;
}

.footer-columns {
    display: grid;
    grid-template-columns: 29% 24% 28% 19%;
    margin-bottom: 40px;
}

.flex-columns {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 32px;
}

.footer-info__left {
    color: rgba(255, 255, 255, 0.7);
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
}

.footer-info__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}