:root {
  --color-text-black: rgb(0, 0, 0);
  --color-text-dark-opacity: rgba(78, 93, 124, 0.5);
  --color-text-dark: rgb(78, 93, 124);
  --color-text-white: rgb(255, 255, 255);
  --color-text-white-opacity: rgba(255, 255, 255, 0.6);
  --color-text-blue: rgb(53, 126, 254);

  --color-card-shadow-16: rgba(78, 93, 124, 0.16);
  --color-card-shadow-32: rgba(78, 93, 124, 0.32);

  --bg-block-white: rgb(255, 255, 255);
  --bg-block-blue: rgb(53, 126, 254);

  --bg-color-benefit: rgb(26, 188, 156);
  --bg-golden-block: rgb(255, 199, 54);

  --color-separate-line-light: rgba(255, 255, 255, 0.16);
  --color-separate-line-dark: rgba(78, 93, 124, 0.08);

  --width-layout: 1392px;
  --width-content: 1156px;

  --margin-bottom-4: 4px;
  --margin-bottom-8: 8px;
  --margin-bottom-16: 16px;
  --margin-bottom-18: 18px;
  --margin-bottom-24: 24px;
  --margin-bottom-40: 40px;
  --margin-bottom-45: 45px;
  --margin-bottom-49: 49px;
  --margin-bottom-64: 64px;
  --margin-bottom-80: 80px;
  --margin-bottom-120: 120px;

  --margin-top-8: 8px;
  --margin-top-16: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body,
button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
}
