h1,
h2 {
    color: #050038;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.heroText {
    color: #050038;
}

.sectionText {
    color: #696688;
}

header a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #050038;
    text-decoration: none;
}

#heroButton {
    background-color: #4262FF;
    color: #FFF;
}

.link {
    color: rgba(66, 98, 255, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.heroForm+p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #050038;
}