* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, #F39494, #F39494),
        linear-gradient(243.43deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0) 82.03%),
        linear-gradient(243.18deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0) 100%);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    position: relative;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 582px;
    min-height: 573px;
    background: #FFFEFE;
    border-radius: 10px;
    padding-top: 72px;
}

a {
    color: #089FE0;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    width: 394px;
}

.header {
    min-height: 49px;
}

.header h1 {
    text-align: center;
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
}

.underHeader {
    align-self: center;
    min-height: 25px;
    margin-bottom: 47px;
}

.container-with-gap {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.company input {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
}

.company input {
    min-height: 44px;
    border: 1px solid #F5F5F5;
    background-color: #FFFFFF;
}

.fullname input,
.email input {
    min-height: 44px;
    border: none;
    background-color: #F5F5F5;
}

.fullname label,
.email label {
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.company input,
.email input {
    width: 100%;
    border-radius: 5px;
}

.fullname {
    display: flex;
    justify-content: space-between;
}

.fullname .left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: calc(100% / 2 - 0.5px);
}

.fullname .right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: calc(100% / 2 - 0.5px);
}

.company input,
.email input,
.fullname input {
    padding: 9px 11px;
}

button {
    min-height: 44px;
    border-radius: 5px;
    background-color: #089FE0;
    background-image: url("../images/Arrow.svg");
    background-repeat: no-repeat;
    background-position: center right 24px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}

.underButton {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}