* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, #F39494, #F39494),
        linear-gradient(243.43deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0) 82.03%),
        linear-gradient(243.18deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0) 100%);
    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 225px auto 226px;
    width: 582px;
    min-height: 573px;
    background: #FFFEFE;
    border-radius: 10px;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    width: 394px;
}

.item {
    border: 1px solid yellowgreen;
}