body {
    margin: 0;
    padding: 0;
    background-color: #F39494;
    font-family: 'Open Sans', sans-serif;
}

form {
    margin: 225px auto 226px;
    width: 582px;
    height: 573px;
    background: #FFFEFE;
    border-radius: 10px;
}

h1 {
    margin: 0 auto;
    padding-top: 72px;
    color: #333333;
    font-weight: 700;
    font-size: 36px;
    line-height: 49.03px;
    text-align: center;
}

a {
    color: #089FE0;
}

h1+p {
    margin: 0 auto 47px;
    color: #666666;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.51px;
    text-align: center;
}

button {
    margin: 0 auto 22px;
    display: block;
    width: 394px;
    height: 44px;
    background-color: #089FE0;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.51px;
    text-align: center;
}

button+p {
    margin: 0 118px 91px 93px;
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
}

.company {
    margin: 0 auto 22px;
    width: 394px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
}

.fullname,
.email {
    margin: 0 auto 22px;
    width: 394px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 5px;
}

div>input {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    border-style: none;
    color: #999999;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 21.79px;
    padding-left: 11px;
    vertical-align: middle;
}

.company>input {
    background-color: #FFFFFF;
    color: #333333;
    font-weight: 600;
    font-style: normal;
}

.email>input {
    border-radius: 5px;
}

.fullname .left {
    width: 50%;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.fullname .right {
    width: 50%;
    float: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}