* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180.00deg, rgb(55, 65, 81), rgb(17, 24, 39) 100%);
    color: #FFFFFF;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

header {
    padding: 60px 180px 69px;
    display: flex;
    align-items: center;
}

header a {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.my-blog {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-right: 77px;
}

.my-blog__icon {
    width: 35px;
    height: 35px;
    background-color: #4B5563;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    padding: 6px 12px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 39px;
}

nav a {
    font-size: 16px;
    line-height: 19px;
}

li:nth-child(1) {
    margin-right: 13px;
}

form {
    background-image: url('../images/search.png');
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: 18px center;
    margin-left: auto;
}

input[type="search"] {
    border: none;
    border-radius: 100px;
    background: rgba(31, 41, 55, 0.6);
    padding: 11px 12px 11px 49px;
    font-size: 16px;
    width: 224px;
    height: 40px;
}

input[type="search"]::placeholder {
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 16px;
    line-height: 19px;
}

.date {
    margin: 0 auto 14px;
    width: 180px;
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.6;
}

.date__dot {
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background: #FFFFFF;
}

h1 {
    margin: 0 auto 30px;
    width: 525px;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
}

.author {
    margin: 0 auto 28px;
    width: 214px;
    min-height: 53px;
    line-height: 24px;
    display: flex;
    gap: 16px;
}

.author img {
    align-self: flex-start;
}

.author__name {
    font-size: 16px;
    line-height: 28px;
}

.author__position {
    font-size: 14px;
    line-height: 28px;
    opacity: 0.6;
    margin-top: -3px;
}

.heroImage {
    display: block;
    margin: 0 auto 69px;
    height: 594px;
    width: 896px;
    border-radius: 5px;
}

.heroText {
    margin: 0 auto 103px;
    width: 708px;
}

.heroText a {
    color: #FFFFFF;
}

.heroText p {
    font-size: 16px;
    line-height: 30px;
    padding: 1em 0;
}

.heroText p:first-child {
    font-size: 20px;
    line-height: 32px;
}

footer p {
    margin: 0 auto 77px;
    font-size: 16px;
    line-height: 28px;
    opacity: 0.6;
    text-align: center;
}